body
{
    background-color: black;
    overflow-y: hidden;
    overflow-x: hidden;
}
.square{
    position: relative;
    height: 400px;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.square span:nth-child(1){
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: radial-gradient(rgb(11, 11, 11) 50%,rgb(156, 17, 17) 52%);
    box-shadow: 0 0 65px rgb(209, 19, 19),inset 0 0 55px rgb(134, 8, 8);
    border-radius: 38% 65%  63% 37%/40% 45% 55% 58%;
    transition: 0.6s;
    animation: animate1 6s linear infinite;
}
.square span:nth-child(2){
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: radial-gradient(rgb(11, 11, 11) 50%,rgb(156, 17, 17) 52%);
    box-shadow: 0 0 65px rgb(209, 19, 19),inset 0 0 55px rgb(134, 8, 8);
    border-radius: 38% 65%  63% 37%/40% 45% 55% 58%;
    transition: 0.6s;
    animation: animate2 4s linear infinite;
}
.square span:nth-child(3){
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: radial-gradient(rgb(11, 11, 11) 50%,rgb(134, 8, 8) 52%);
    box-shadow: 0 0 65px rgb(134, 8, 8),inset 0 0 55px rgb(134, 8, 8);
    border-radius: 38% 65%  63% 37%/40% 45% 55% 58%;
    transition: 0.6s;
    animation: animate3 8s linear infinite;
}
@keyframes animate1 {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
} 
@keyframes animate2 {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
} 
@keyframes animate3 {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
} 
.particles-js{
    position: absolute;
}

.particles-js{
    height: 50px;
    width: 10px;
    position: absolute;
    justify-content: center;

}
#textbox {
    background-color: #181818a8;
    border-color: rgb(198, 25, 25);
    box-shadow: 0 0 20px rgb(253, 3, 3),
      inset 0 0 0px rgb(222, 16, 16);
    border-radius: 8px;
    color: white;
    padding: 3px 0px 3px 20px;
    margin: 0px 20%;
  }
  
  .input-field {
    background-color: transparent;
    border: none;
    width: 95%;
    outline: none;
    color: white;
    font-family: cursive;
  }
  
  
  .glow-on-hover {
    width: 35px;
    height: 35px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    padding: 0px;
    margin-left: 10px;
  }
  
  .glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #a81d1d);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
  }
  
  .glow-on-hover:active {
    color: #181818a8
  }
  
  .glow-on-hover:active:after {
    background: transparent;
  }
  
  .glow-on-hover:hover:before {
    opacity: 1;
  }
  
  .glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
  }
  
  @keyframes glowing {
    0% {
      background-position: 0 0;
    }
  
    50% {
      background-position: 400% 0;
    }
  
    100% {
      background-position: 0 0;
    }
  }
